<div class="container mt-5">
    <h2 class="text-center mb-4">Update Model</h2>
    <form novalidate #f="ngForm" (ngSubmit)="onUpdate()">
      <!-- Nombre -->
      <div class="mb-3">
        <label for="name" class="form-label">New Model Name</label>
        <input 
          type="text" 
          id="name" 
          class="form-control" 
          name="name"
          placeholder="Enter Model name"
          [(ngModel)]="name" required>
      </div>
  
      <!-- BrandId -->
      <div class="mb-3">
        <label for="brandId" type="text" class="form-label">Brand ID</label>
        <input name="brandId" type="number" class="form-control" [(ngModel)]="brandId" placeholder="Brand ID">
      </div>
  
      <!-- Botón -->
      <div class="d-flex align-items-center flex-column">
          <button type="submit" class="btn btn-outline-primary w-75" [disabled]="f.invalid">Update Model</button>
          <button type="submit" class="btn btn-outline-danger my-3 w-75" routerLink="/">GO BACK <--</button>
        </div>
    </form>
</div>
  
