<div class="container mt-5 d-flex flex-column text-center w-75">
    <h1 class="fw-bold">
        {{ vacant ? "EDIT VACANT" : "NEW VACANT" }}
    </h1>
    @if(form)
    {
        @if(errors.length) 
        {
            <div class="alert alert-danger ">
                <ul>
                    @for (error of errors; track error) 
                    {
                        <li>{{ error }}</li>  
                    }
                </ul>
            </div>
        }

        <form class="my-5" [formGroup]="form" (ngSubmit)="save()">
            <div class="mb-3">
              <label for="title" class="form-label">Title: </label>
              <input type="text" class="form-control" id="title" name="title" formControlName="title" required>

              @if(form.get('title')?.hasError('required') && form.get('title')?.touched)
              {
                  <h4 class="invalid-feedback d-block"> Title required </h4>
              }
            </div>

            <div class="mb-3">
              <label for="description" class="form-label">Description: </label>
              <input type="text" class="form-control" id="description" name="description" formControlName="description" required>

              @if(form.get('description')?.hasError('required') && form.get('description')?.touched)
              {
                  <h4 class="invalid-feedback d-block"> Description required </h4>
              }
            </div>

            <div class="mb-3">
              <label for="companyId" class="form-label">Company ID: </label>
              <input type="text" class="form-control" id="companyId" name="companyId" formControlName="companyId" required>

              @if(form.get('companyId')?.hasError('required') && form.get('companyId')?.touched)
              {
                  <h4 class="invalid-feedback d-block"> Company Id required </h4>
              }
            </div>
            <div class="d-flex justify-content-around">
              <button class="btn btn-danger w-25 text-black fw-bold" routerLink="/vacants">CANCEL</button>

              <button type="submit" class="btn btn-info w-25 fw-bold">
                {{ vacant ? 'EDIT' : 'ADD' }}
              </button>
            </div>
          </form>
    }
</div>
