<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página de Error</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>

    body {
      background-color: #ffffff;
    }

    .error-container {
      margin-top: 100px;
      text-align: center;
    }

    .error-code {
      font-size: 100px;
      font-weight: bold;
    }

    .error-message {
      font-size: 24px;
      margin-bottom: 40px;
    }

  </style>
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-md-12 error-container">
      <img class="img-fluid" src="https://media2.giphy.com/media/8L0Pky6C83SzkzU55a/giphy.webp?cid=790b7611fzty4y13unmilaqfojrwweoc3zlug6ofic63ilt5&ep=v1_gifs_search&rid=giphy.webp&ct=g" alt="error">
      <p class="error-message">HTTP Petition Failed</p>
      <a href="/coderPage" class="btn btn-primary">Return To Main Page</a>
    </div>
  </div>
</div>

</body>
</html>