<div class="container">
    <h2 class="mb-5">ChatGpt simple demo</h2>
    <form #f="ngForm" (ngSubmit)="ngOnSubmit()" novalidate>
        <div class="row">
            <div class="col-md-4">
                <h4>What i help you!: </h4>
                <div class="input-group mb-3 ">
                    <input type="text" name="prompt" class="form-control" id="prompt" [(ngModel)]="prompt"  required>
                    <div class="input-group-append ms-3">
                        <button class="btn btn-outline-success me-3" type="submit" [disabled]="!f.valid">Send</button>
                        <button class="btn btn-outline-danger" type="reset" (click)="resetPrompt()">Reset</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Resume</h4>
                <div class="input-group mb-3">
                    <textarea class="form-control" name="content" id="content" rows="10"></textarea>
                </div>
                <div class="col-md-6">
                    <div class="input-group-append mt-auto">
                        <button class="btn btn-outline-danger" type="reset" clicle="resetContent()">Reset</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>